<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Password</title>
  </head>
  <body>
    <h1>hello world find PW</h1>
    <div id="findPWContainer">
      <input
        type="email"
        placeholder="email address"
        id="id"
        name="id"
        required
      />
      <button type="button" id="findButton">Find</button>
      <div id="PWDisplay"></div>
    </div>
  </body>
  <script src="/javascript/findPW.js"></script>
</html>
