<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/findPW.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Password</title>
  </head>
  <body>
    <div id="findPWContainer">
      <h1>hello world find PW</h1>
      <div id="emailTag">
        이메일 주소
        <input
          type="email"
          placeholder="email address"
          id="id"
          name="id"
          required
        />
        <button type="button" id="findButton">Find</button>
      </div>
      <div id="PWDisplay"></div>
    </div>
  </body>
  <script src="/javascript/findPW.js"></script>
</html>
