<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div id="loginContainer">
      <div id="inputsContainer">
        <form id="loginForm">
          <div id="idTag">
            아이디<input
              type="text"
              placeholder="ID"
              id="id"
              name="id"
              required
            />
          </div>

          <div id="pwTag">
            비밀번호<input
              type="text"
              placeholder="password"
              id="password"
              name="password"
              required
            />
          </div>

          <div id="loginError"></div>
          <button id="signinButton" type="submit">Sign in</button>
        </form>
      </div>
      <div id="actionContainer">
        <div id="findID"><a href="/findID">아이디 찾기</a></div>
        <div id="findPW"><a href="/findPW">비밀번호 찾기</a></div>
        <div id="signup"><a href="/signup">회원가입</a></div>
      </div>
    </div>
  </body>
  <script src="/javascript/login.js"></script>
</html>
