<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/welcome.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <div id="welcomeContainer">
      <h1>환영합니다, <%= name %>님!</h1>
    </div>
  </body>
</html>
