#signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#infoContainer input {
  margin: 10px;
}
